<header>
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/" class="text-dark text-decoration-none">
            <img src="/static/assets/rapid image resizer.jpg" alt="rapid image resizer logo" class="rapid_image_resizer_logo">
        </a>
        <nav>
            <a href="/" class="text-dark text-decoration-none">Image Resizer</a>
            <span class="text-dark mx-2"> | </span>
            <a href="/rapid_resizer" class="text-dark text-decoration-none me-3">Rapid.lk Product Image Resizer</a>
        </nav>
    </div>
</header>
